.Encabezado {
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: azure;
    width: 100%;
}
.navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    list-style-type: none; /* Eliminar los bullets */
    padding: 0; /* Eliminar el padding */
    margin: 0; /* Eliminar el margen */
}
.li_head:hover {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
}
.Cuerpo {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}
.temas {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}
.temas_head {
    text-align: center;
    text-decoration: black;
    font-size: larger;
}
.temas_head:hover {
    text-decoration: underline;
    font-style: italic;
}
.temas_clase {
    text-align: justify;
    padding: 15px;
}
.cuerpo_div, .items_div {
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
footer {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
}
ul {
    list-style-type: none; /* Eliminar los bullets */
    padding: 0; /* Eliminar el padding */
    margin: 0; /* Eliminar el margen */
}
@media (max-width: 768px) {
    .navegacion {
        display: none;
    }
    .Encabezado {
        display: block;
        text-align: center;
    }
    .Encabezado img {
        max-width: 100%;
    }
    .Encabezado::after {
        content: "☰";
        font-size: 24px;
        display: block;
        cursor: pointer;
    }
}
@media (max-width: 480px) {
    .Encabezado {
        padding: 10px;
    }
    .Cuerpo {
        grid-template-columns: 1fr;
    }
    .temas {
        grid-template-columns: 1fr;
    }
}

